<nav class="navbar navbar-expand navbar-light bg-info topbar mb-4 static-top shadow">
  <div class="mr-auto">
    <div class="brand">
      <h5 class="text-white my-2">Sniffer</h5>
    </div>
  </div>

  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button class="btn btn-light btn-sm btn-circle" (click)="logout()">
        <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
</nav>